

.formatter-link,
.formatter-mention {
  cursor: pointer;
  color: rgb(18, 100, 163);
  text-decoration: none;
}

.formatter-mention {
  background-color: rgba(29, 155, 209, 0.1);
  padding: 1px 2px;
  padding-top: 0;
  border-radius: 3px;
  margin-right: 4px;
}

.formatter-link:hover,
.formatter-mention:hover {
  color: rgb(11, 76, 140);
  text-decoration: underline;
}

.formatter-code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  tab-size: 4;
  background-color: rgba(29,29,29,.04);
  border: 1px solid #ddd;
}

.formatter-code.inline {
  color: #e01e5b;
  display: inline-block;
  border-radius: 2px;
  padding: 0 3px;
}

.formatter-code.block {
  display: block;
  border-radius: 4px;
  padding: 8px;
  font-size: 13px;
}

.formatter-bq {
  margin: 4px 0;
  padding-left: 16px;
  position: relative;
}

.formatter-bq:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 4px;
  border-radius: 8px;
  background: rgba(222,222,222,1);
  content: "";
}

.formatter-ul,
.formatter-ol {
  padding: 0;
  margin: 0;
}

.formatter-ul li,
.formatter-ol li {
  list-style: none;
  margin-left: 28px;
}
.formatter-ul[data-indent="1"] li,
.formatter-ol[data-indent="1"] li {
  margin-left: calc(28px * 2);
}
.formatter-ul[data-indent="2"] li,
.formatter-ol[data-indent="2"] li {
  margin-left: calc(28px * 3);
}
.formatter-ul[data-indent="3"] li,
.formatter-ol[data-indent="3"] li {
  margin-left: calc(28px * 4);
}
.formatter-ul[data-indent="4"] li,
.formatter-ol[data-indent="4"] li {
  margin-left: calc(28px * 5);
}
.formatter-ul[data-indent="5"] li,
.formatter-ol[data-indent="5"] li {
  margin-left: calc(28px * 6);
}
.formatter-ul[data-indent="6"] li,
.formatter-ol[data-indent="6"] li {
  margin-left: calc(28px * 7);
}

.formatter-ul li:before,
.formatter-ol li:before {
  content: "•";
  margin-right: 6px;
  margin-left: -28px;
  font-size: 20px;
  vertical-align: bottom;
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  width: 22px;
  text-align: center;
}

.formatter-ul[data-indent="1"] li:before,
.formatter-ul[data-indent="4"] li:before {
  content: "◦";
}
.formatter-ul[data-indent="2"] li:before,
.formatter-ul[data-indent="5"] li:before {
  content: "▪︎";
}

.formatter-ol li:before {
  content: attr(data-num);
  font-size: 1em;
  font-weight: 600;
}